.jumbotron {
    box-shadow: 0 2px 5px 0 darkslateblue;
    font-family: 'Marvel', sans-serif;
    font-size: 1.3em;
    font-weight: bold;
}

.jumbo {
    margin-top: 80px; 
}

.instructions {
    text-align: center;
}