.gameMessage {
    font-size: 2em;
    font-family: 'Marvel', sans-serif;
}

.black {
    color: #518cca;
}

.correct {
    color: #35B535;
}

.incorrect {
    color: darkred;
    -webkit-text-stroke: 1px black;
}